.mapa-container {
    /* Padding e margem para separar o mapa do conteúdo ao redor */
    padding: 30px 20px;
    margin: 40px 0;
    
    /* Um fundo sutil para destacá-lo */
    background-color: #f8f8f8;
    border-radius: 8px; /* Cantos arredondados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.mapa-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 1.8em;
    border-bottom: 2px solid #ffcc00; /* Linha decorativa */
    display: inline-block;
    padding-bottom: 5px;
}

.mapa-container > div {
    width: 100%;
    height: 400px; /* Altura fixa para o mapa */
    
    /* Estilos visuais para a caixa do mapa */
    border: 1px solid #ddd;
    border-radius: 6px;
    overflow: hidden; /* Garante que o mapa não saia do contêiner */
}
.localizacao-page h1 {
    font-size: 2.5em;
    color: #444;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
/* Para garantir que seja responsivo em telas pequenas */
@media (max-width: 768px) {
    .mapa-container {
        padding: 20px 10px;
    }
}