@import url('https://fonts.googleapis.com/css2?family=Moramit&display=swap');

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4a2c2a;
  padding: 15px 40px;
  color: #fff;
  font-family: 'Moramit', sans-serif;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #f0b27a;
}
.logo-img {
  height: 50px;
}